# Project exclude paths test
/application/target/
/cloud-provider-payment8001/target/
/system-gateway-gateway9527/target/
/system-config-center-3344/target/
/system-task/target/
/redis-service/target/
/auth-service/target/
/*/target/
/.idea/
.project
.classpath
/*/.project
/*/.classpath
/*/.settings/